@model IEnumerable<SchoolManagement.Models.Enrollment>

@if (Model.Count() < 1)
{
    <h1 class=" text-center text-info">NO ENROLLMENTS IN COURSE YET!</h1>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Title)
            </th>
            <th>
                Student Name
            </th>

            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Title)
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Student.FirstName) @Html.DisplayFor(modelItem => item.Student.LastName)</p>
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentId })
                </td>
            </tr>
        }

    </table>
}